@media (min-width: 811px) {

    body {
        background-color: rgb(186, 161, 210);
    }

    .active {
        display: none;
    }

    .icon {
        display: none;
    }

    .topnav {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #D6AB42;
        height: 80px;
    }

    #myLinks {
        background-color: #D6AB42;
    }


    #myLinks a {
        margin-left: 20px;
        margin-right: 20px;
    }

}

@media (max-width: 810px) {

/* Style the navigation menu */
.topnav {
overflow: hidden;
background-color: #D6AB42;
position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
display: none;
}

/* Style navigation menu links */
.topnav a {
color: #0071B5;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
background: #D6AB42;
display: block;
position: absolute;
right: 0;
top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
background-color: #ddd;
color: #0071B5;
}

/* Style the active link (or home/logo) */
.active {
color: #0071B5;
padding-left: 15px;
}

}