/* STYLES GO HERE */

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

/* ////////////////////////////////////////////////////////////////////////////////////////

/* TYPOGRAPHY */

body {
font-family: 'Roboto Condensed', sans-serif;
color: #002E4A;
}

/* ////////////////////////////////////////////////////////////////////////////////////////

/* HEADER DONE !!!!  */

header {
position: relative;
background-color: #0071B5;
display: flex;
justify-content: center;
padding: 20px;
margin-bottom: 15px;
}

header img {
width: 800px;
max-width: 100%;
height: auto; /* CHANGE TO AUTO! ONCE WE HAVE THE OFFICAL LOGO */
background-color: #0071B5;

}

/* ////////////////////////////////////////////////////////////////////////////////////////

/* NAV DONE !!!!  */

@media (min-width: 811px) {

.active {
display: none;
}

.icon {
display: none;
}

.topnav {
display: flex;
justify-content: center;
align-items: center;
background-color: #D6AB42;
height: 80px;
padding-top: 10px;
}

.topnav-wrapper {
 border-bottom: #002E4A 2px solid;
 height: 45px;
 width: 820px;
  }

#myLinks {
background-color: #D6AB42;
padding-bottom: 10px;
display: flex;
justify-content: center;
align-items: center;
}


#myLinks a {
margin-left: 20px;
margin-right: 20px;
text-transform: uppercase;
font-size: 1.4em;
text-decoration: none;
font-weight: bold;
color: #002E4A;
}

#myLinks a:hover {
margin-left: 20px;
margin-right: 20px;
text-transform: uppercase;
font-size: 1.7em;
text-decoration: none;
font-weight: bold;
color: #ffffff;
}

}

@media (max-width: 810px) {

/* Style the navigation menu */
.topnav {
overflow: hidden;
background-color: #D6AB42;
position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
display: none;
}

/* Style navigation menu links */
.topnav a {
color: #002E4A;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
text-transform: uppercase;
font-weight: bold;
}

/* Style the hamburger menu */
.topnav a.icon {
background: #D6AB42;
color: #002E4A;
display: block;
position: absolute;
right: 0;
top: 0;
height: 50px;
width: 50px;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
background-color: #ddd;
color: #0071B5;
}

/* Style the active link (or home/logo) */
.active {
color: #002E4A;
padding-left: 15px;
margin: 0;
text-transform: uppercase;
height: 50px;
font-size: 1.5em;
display: flex;
align-items: center; /* Vertically centers the text */
font-weight: bold;
}

}

/* ////////////////////////////////////////////////////////////////////////////////////////

/* CONTACT FORM DONE !!!! */

.contact-form {
background-color: #D6AB42;
border-radius: 0.5em; /* 8px converted to em */
margin-bottom: 30px;
display: flex;
flex-direction: column;
align-items: center;
}


#contact-number {
color: #0071B5;
}

.contact-form input,
.contact-form textarea {
border: none;
width: 360px;
font-family: 'Roboto Condensed', sans-serif;
color: #002E4A;
margin-left: 20px;
margin-right: 20px;
margin-top: 5px;
padding: 8px;
}

.contact-form textarea {
height: 80px;
resize: none;
margin-bottom: 10px;
}

          .contact-form span, label {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 1.2em;
          margin-top: 10px;
          }

          .contact-form span {
            text-transform: uppercase;
            color: red;
            font-size: .8em;
            margin-bottom: 10px;
            margin-top: 3px !important;
          }

          .contact-form p {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: .8em !important; 
            margin-bottom: 10px !important;
          }

@media screen and (max-width: 520px) {

.contact-form {
  width: 90%;
}

.contact-form input,
.contact-form textarea {
width: 200px !important;
font-size: 1.2em;
height: 35px;
}

.contact-form textarea {
height: 150px;
}

}

/* ////////////////////////////////////////////////////////////////////////////////////////

/* TESTIMONIALS DONE !!!! */

blockquote {
  margin: 20px;
  text-align: left;
  font-size: 30px;
  line-height: 35px;
  border-left: #D6AB42 8px solid;
  padding-left: 10px;
}

@media screen and (max-width: 520px) {

blockquote {
  margin: 20px;
  text-align: left;
  font-size: 20px;
  line-height: 25px;
  border-left: #D6AB42 8px solid;
  padding-left: 10px;
}
}

/* ////////////////////////////////////////////////////////////////////////////////////////

/* PORTFOLIO DONE !!!! */

.portfolio-text {
max-width: 940px;
margin: auto;
text-align: justify;
}

.portfolio-text p {
padding: 20px;
}

.portfolio-text a {
  color: #0071B5;
  }

  .portfolio-text a:hover {
    color: #D6AB42;
    }

.main-wrapper h1 {
max-width: 980px;
border-bottom: #0071B5 2px solid;
text-transform: uppercase;
color: #0071B5;
margin-right: 20px;
margin-left: 20px;
text-align: center;
}

.port-image {
position: relative;
display: flex; /* To make flex properties effective */
flex: 1;
margin-left: 20px;
margin-right: 20px;
padding-bottom: 20px;
}

.port-image img {
display: block;
max-width: 100%;
width: 900px;
}

.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
color: white;
}

.overlay h2 {
margin: 0;
font-size: 2.5em; 
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
text-transform: uppercase;
}

        

  

/* ////////////////////////////////////////////////////////////////////////////////////////

/* INSTAGRAM DONE !!!! */

#instagram-wrapper {
max-width: 61.25em;  /* 980px converted to em */
margin: auto;
display: flex;
flex-direction: column; /* Arrange children vertically */
}

#instagram-title {
background-color: #0071B5;
align-items: center;
height: 80px;
display: flex;
flex-direction: column; /* Arrange children vertically */
justify-content: center;
}

#instagram-title h2 {
border-bottom: 1px solid #92C2DE;
background-color: #0071B5;
text-transform: uppercase;
text-align: center;
color: #92C2DE;
width: 240px;
padding-bottom: 5px;
}

#instagram-row {
height: 100%;
margin: 20px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////

/* FOOTER DONE !!!! */

@media (min-width: 811px) {

footer {
background-color: #92C2DE;
display: flex;
max-height: 200px;
}

.footer-nav-small {
background-color: #0071B5;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex: 1;
padding: 15px;
}

.footer-nav-small ul {
list-style-type: none;
}

.footer-nav-small a {
color: #92C2DE;
text-decoration: none;
}

.footer-nav-small a:hover {
color: #ffffff;
text-decoration: none;
}

.footer-nav-big {
background-color: #92C2DE;
display: flex;
justify-content: center; 
align-items: center;
width: 100%;
flex: 2;
padding: 15px;
}

.footer-nav-big img {
max-height: 9.375em; /* 150px converted to em */
width: auto; 
}

}

@media (max-width: 810px) {

footer {
background-color: #92C2DE;
display: flex;
flex-direction: column;
}

.footer-nav-small {
background-color: #0071B5;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex: 1;
padding: 15px;
}

.footer-nav-small ul {
list-style-type: none;
}

.footer-nav-small li {
  text-align: center;
  margin-bottom: 10px;
}

.footer-nav-small a {
color: #92C2DE;
text-decoration: none;
}

.footer-nav-small a:hover {
color: #ffffff;
text-decoration: none;
}

.footer-nav-big {
background-color: #92C2DE;
display: flex;
justify-content: center; 
align-items: center;
width: 100%;
flex: 2;
padding: 15px;
}

.footer-nav-big img {
max-height: 9.375em; /* 150px converted to em */
width: auto; 
}

}

/* ////////////////////////////////////////////////////////////////////////////////////////

/* MAIN SECTION */

@media (min-width: 811px) {        
.main-wrapper {
max-width: 61.25em; /* 980px converted to em */
margin: auto;
padding-top: 20px;
padding-bottom: 20px;
}

.main-row {
display: flex;
}

.main-textbox {
flex: 1;
display: flex; /* Ensure the container is using flexbox */
flex-direction: column; /* Arrange items in a column */
align-items: center; /* Center items horizontally */
text-align: center; /* Center text within the flex items */
padding-left: 20px;
padding-right: 20px;
}

.main-textbox h1 {
width: 100%;
border-bottom: #0071B5 2px solid;
text-transform: uppercase;
color: #0071B5;
margin-bottom: 20px;
}

.main-textbox p {
margin-bottom: 30px;
text-align: justify;
font-size: 1.2em;
line-height: 1.5em;
}

.big-button {
background-color: #D6AB42;
border: none;
border-radius: 0.5em; /* 8px converted to em */
height: 3.125em; /* 50px converted to em */
width: 250px; /* 300px converted to em */
text-transform: uppercase;
margin-bottom: 20px; 
font-size: 20px;
font-family: 'Roboto Condensed', sans-serif;
font-weight: bold;
color: #002E4A;
}

.big-button:hover {
  color: #ffffff;
}

.small-button {
background-color: #D6AB42;
border: none;
border-radius: 0.5em; /* 8px converted to em */
height: 2em; /* 50px converted to em */
width: 250px; /* 300px converted to em */
text-transform: uppercase;
margin-bottom: 20px; 
font-size: 20px;
font-family: 'Roboto Condensed', sans-serif;
font-weight: bold;
color: #002E4A;
}

.small-button:hover {
  color: #ffffff;
}

.main-image {
flex: 1;
margin-left: 20px;
margin-right: 20px;
}

.main-image img {
max-width: 100%;
width: 900px;
}

}

@media (max-width: 810px) {
.main-wrapper {
max-width: 61.25em; /* 980px converted to em */
margin: auto;
padding-top: 20px;
padding-bottom: 20px;
}

.main-row {
display: flex;
flex-direction: column;
}

.main-textbox {
flex: 1;
display: flex; /* Ensure the container is using flexbox */
flex-direction: column; /* Arrange items in a column */
align-items: center; /* Center items horizontally */
/* justify-content: space-between;  */
text-align: center; /* Center text within the flex items */
padding-left: 20px;
padding-right: 20px;
}

.main-textbox h1 {
width: 100%;
border-bottom: #0071B5 2px solid;
text-transform: uppercase;
color: #0071B5;
margin-bottom: 20px;
}

.main-textbox p {
margin-bottom: 30px;
text-align: justify;
font-size: 1.2em;
line-height: 1.5em;
}

.big-button {
background-color: #D6AB42;
border: none;
border-radius: 0.5em; /* 8px converted to em */
height: 3.125em; /* 50px converted to em */
width: 250px; /* 300px converted to em */
text-transform: uppercase;
margin-bottom: 30px; 
font-size: 20px;
font-family: 'Roboto Condensed', sans-serif;
font-weight: bold;
color: #002E4A;
}

.big-button:hover {
  color: #ffffff;
}

.small-button {
background-color:#D6AB42;
border: none;
border-radius: 0.5em; /* 8px converted to em */
height: 2em; /* 50px converted to em */
width: 250px; /* 300px converted to em */
text-transform: uppercase;
margin-bottom: 20px; 
font-size: 20px;
font-family: 'Roboto Condensed', sans-serif;
font-weight: bold;
color: #002E4A;
}

.small-button:hover {
  color: #ffffff;
}

.main-image {
flex: 1;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 20px;
}

.main-image img {
max-width: 100%;
width: 900px;
}

}

